<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= post.title %></title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <!-- <p><%= post.content %></p> -->
    <a href="/posting"> Back to posts… </a>
  </body>
</html>
